@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

html {
    font-size: 62.5%;
    font-family: 'Poppins', sans-serif;
}

* {
    color: var(--primary-text-color);
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    --primary-text-color: #292635;
    --secondary-text-color: #4540CF;
    --ternary-text-color: #abaaad;
    --button-background-color: #05264E;
    --primary-background-color: #FFFFFF;
    --secondary-background-color: #F5F7FB;
    --primary-background-color: #FFFFFF;
    --input-background-color: #F7FAFC;
    --input-text-color: #8c939a;
    --register-color: #667EEA;
}

/* ! Navbar */
.navbar-container {
    margin: auto;
    max-width: 120rem;
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-logo {
    font-size: 2rem;
    font-weight: 600;
    text-decoration: none;
}

.h, .i {
    color: var(--secondary-text-color);
}

.underline {
    padding-bottom: 0.1rem;
    border-bottom: 2px solid var(--secondary-text-color);
    border-radius: 100%;
}

.navbar-links ul {
    font-size: 1.2rem;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    width: 40rem;
    font-weight: 500;
}

.navbar-links a {
    text-decoration: none;
    position: relative;
}

.navbar-links a:hover {
    color: var(--secondary-text-color);
    border-bottom: 2px solid var(--secondary-text-color);
    padding-bottom: 0.2rem;
}

.navbar-register {
    color: white;
    font-size: 1.2rem;
    background-color: var(--secondary-text-color);
    border: 1.5px solid var(--secondary-text-color);
    border-radius: 2rem;
    padding: 0.8rem;
    cursor: pointer;
    font-weight: 500;
    transition: 0.2s;
    text-decoration: none;
}

.navbar-register:hover {
    border-color: var(--button-background-color);
    background-color: var(--button-background-color);
}

/* ! Job Search */

.job-search-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    margin-top: 1rem;
}

.job-search-header {
    font-size: 4rem;
    font-weight: 600;
    text-align: center;
}

.total-jobs-listed {
    font-size: 1.1rem;
    color: var(--ternary-text-color);
    margin: 2rem 0 2rem 0;
}

.job-search-header span {
    color: var(--secondary-text-color);
}

.job-search-input-container {
    display: flex;
    padding: 0.7rem 1.2rem 0.7rem 1.2rem;
    align-items: center;
    gap: 0.7rem;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    /* border: 1px solid #05264E; */
    border-radius: 50px;
    margin-bottom: 2rem;
}

.job-search-input-container select {
    font-size: 1.5rem;
    background-color: transparent;
    border: none;
}

.industry-logo, .keyword-logo, .search-logo {
    font-size: 1.2rem;
}

.search-logo {
    font-size: 1.3rem;
    filter: invert() brightness(100);
}

.job-search-keyword {
    border: none;
    outline: none;
    font-size: 1.3rem;
    padding: 0.3rem;
}

.job-search-button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    color: white;
    font-size: 1.2rem;
    background-color: var(--secondary-text-color);
    border: 1.5px solid var(--secondary-text-color);
    border-radius: 50px;
    padding: 1rem;
    cursor: pointer;
    font-weight: 500;
    transition: 0.2s;
}

.job-search-button:hover {
    background-color: var(--button-background-color);
    border-color: var(--button-background-color);
}

/* ! Categories */
.categories-wrapper {
    background-color: var(--secondary-background-color);
}

.categories-container {
    padding: 4rem 2rem 4rem 2rem;
    display: flex;
    flex-direction: column;
    max-width: 120rem;
    margin: auto;
    align-items: center;
}

.categories-header {
    font-weight: 600;
    font-size: 2.2rem;
    text-align: center
}

.categories-header span {
    color: var(--secondary-text-color);
}

.categories-cards-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    margin: 3rem 0 3rem 0;
}

.categories-card {
    display: flex;
    gap: 1rem;
    padding: 2rem 1rem 2rem 1rem;
    background-color: #FFFFFF;
    align-items: center;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 1rem;
    cursor: pointer;
}

.categories-card:hover {
    background-color: var(--secondary-text-color);
    transition: 0.2s;
}

.categories-card:hover > .category-details > .category-name {
    color: white;
}

.category-image {
    font-size: 1.5rem;
}

.category-details {
    display: flex;
    flex-direction: column;
}

.category-name {
    font-size: 1.3rem;
    font-weight: 600;
}

.category-jobsavailable {
    font-size: 0.9rem;
    color: var(--ternary-text-color);
}

/* ! Featured Jobs */
.featured-jobs {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 120rem;
    margin: auto;
    padding: 4rem 2rem 4rem 2rem;
}

.featured-jobs-header {
    font-weight: 600;
    font-size: 2.2rem;
    text-align: center
}

.featured-jobs-header span {
    color: var(--secondary-text-color);
}

.featured-jobs-cards-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    padding: 2rem;
    margin: 2rem 0 0 0;
}

.featured-jobs-card {
    min-width: 18rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 1rem;
    padding: 4rem 3rem 4rem 3rem;
}

.featured-jobs-card-header {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.featured-jobs-card-logo {
    width: 3rem;
}

.company-details {
    display: flex;
    flex-direction: column;
}

.company-name {
    font-size: 1.2rem;
    font-weight: 500;
}

.company-location {
    font-size: 0.9rem;
    color: var(--ternary-text-color);
}

.featured-jobs-card-details {
    display: flex;
    flex-direction: column;
}

.job-position {
    font-size: 1.3rem;
    font-weight: 600;
}

.job-schedule {
    font-size: 0.9rem;
    color: var(--ternary-text-color);
}

.featured-jobs-card-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.job-salary {
    font-size: 1.1rem;
    font-weight: 600;
}

.job-salary span {
    font-size: 0.9rem;
    color: var(--ternary-text-color);
}

.job-details-btn {
    color: var(--secondary-text-color);
    font-size: 1rem;
    background-color: var(--secondary-background-color);
    border: var(--secondary-background-color);
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.2);
    border-radius: 5px;
    padding: 0.3rem;
    cursor: pointer;
    font-weight: 400;
    transition: 0.2s;
    width: 6rem;
}

.job-details-btn:hover {
    background-color: var(--secondary-text-color);
    color: white
}

.view-all-jobs {
    width: 6rem;
    text-align: center;
    text-decoration: none;
    font-size: 1.2rem;
    margin-top: 2rem;
    padding: 1rem;
    color: white;
    background-color: var(--secondary-text-color);
    border: 1px solid var(--secondary-text-color);
    border-radius: 50px;
}

.view-all-jobs:hover {
    background-color: var(--button-background-color);
    color: white;
    transition: 0.2s;
}

/* ! Testimonials */
.testimonials-wrapper {
    display: flex;
    flex-direction: column;
    max-width: 120rem;
    margin: auto;
    align-items: center;
    padding: 2rem;
}

.testimonials-wrapper h2 {
    font-weight: 600;
    font-size: 2.2rem;
    text-align: center
}

.testimonials-wrapper h2 span {
    color: var(--secondary-text-color);
}

.testimonial-card {
    display: flex;
    flex-direction: column;
    max-width: 45rem;
    margin: auto;
    gap: 1rem;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 1rem;
    padding: 2rem;
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.testimonial-quote {
    color: var(--ternary-text-color);
    font-style: italic;
}

.testimonial-avatar-name {
    font-weight: 600;
    font-size: 1.2rem;
}

.testimonial-avatar-img {
    height: 5rem;

    object-fit: contain;
}

.testimonial-avatar-company {
    font-size: 0.9rem;
    color: var(--ternary-text-color);
}

.testimonial-avatars {
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}

.testimonial-avatars img {
    width: 3rem;
    height: 3rem;
    border-radius: 10rem;
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

/* ! Post Job */
.post-job-container {
    display: flex;
    max-width: 80rem;
    margin: 3rem auto 2rem auto;
    padding: 1rem;
    border-radius: 20px;
    background-color: var(--secondary-text-color);
}

.post-job-image {
    text-align: center;
    width: 40rem;
}

.post-job-details {
    width: 40rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
}

.post-job-details h2, .post-job-details h2 span {
    color: white;
    font-size: 2.2rem;
    font-weight: 600;
}

.post-job-details h2 span {
    border-bottom: 2px solid white;
}

.post-job-details p {
    color: var(--ternary-text-color);
}

.post-job-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    font-size: 1.2rem;
    background-color: white;
    border: white;
    /* box-shadow: 0 1px 2px 0 rgba(0,0,0,0.2); */
    border-radius: 50px;
    padding: 0.5rem;
    cursor: pointer;
    font-weight: 400;
    transition: 0.2s;
    width: 10rem;
}

.post-job-btn:hover {
    color: white;
    background-color: var(--button-background-color);
}

.post-job-btn:hover > .post-icon {
    fill: white;
}

.post-icon {
    font-size: 1.5rem;
}

/* ! Sponsors */
.sponsors-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 120rem;
    margin: auto;
    margin-top: 5rem;
    margin-bottom: 10rem;
    padding: 2rem;
}

.sponsors-header {
    font-size: 1.2rem;
    font-weight: 700;
}

.sponsors-header span {
    color: var(--secondary-text-color);
}

.sponsors-logo-container {
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
    justify-content: center;
    margin-top: 3rem;
    font-size: 7rem;
}

/* ! Footer */
.footer-wrapper {
    position: relative;
    margin-top: 3rem;
    background-color: var(--secondary-background-color);
}

.footer-logo {
    font-size: 2rem;
    font-weight: 600;
}

.footer-container {
    display: grid;
    grid-template-columns: repeat(5, auto);
    /* justify-items: center; */
    max-width: 120rem;
    margin: auto;
    padding: 3rem;
    padding-top: 15rem;
}

.footer-nav ul {
    list-style-type: none;
}

.footer-nav ul li {
    font-size: 1.1rem;
    font-weight: 500;
    margin-bottom: 0.5rem;
}

.footer-nav ul li a {
    text-decoration: none;
}

.footer-nav ul li a:hover {
    color: var(--secondary-text-color);
    border-bottom: 2px solid var(--secondary-text-color);
}

.copyright {
    font-size: 1.1rem;
    font-weight: 500;
}

.copyright span {
    color: var(--secondary-text-color);
}

.newsletter-container {
    /* left: 50%; */
    display: flex;
    align-items: center;
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translate(-50%, 0);
    gap: 2rem;
    padding: 1.5rem;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 20px;
}

.newsletter-text {
    font-size: 2.2rem;
    font-weight: 600;
}

.newsletter-text span {
    color: var(--secondary-text-color);
}

.newsletter-input {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    padding: 1rem;
    border-radius: 50px;
}

.newsletter-input input {
    border: none;
    outline: none;
    font-size: 1.2rem;
    font-weight: 500;
}

.newsletter-btn {
    font-size: 1rem;
    font-weight: 500;
    background-color: var(--secondary-text-color);
    color: white;
    border: none;
    padding: 1rem;
    border-radius: 50px;
    cursor: pointer;
    width: 8rem;
}

.newsletter-btn:hover {
    background-color: var(--button-background-color);
    transition: 0.2s;
}

/* ! Register */
.register-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--secondary-background-color);
    padding: 5rem;
}

.register-logo {
    margin-bottom: 3rem;
    text-decoration: none;
}

.register-container {
    display: flex;
    max-width: 110rem;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.register-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    background-color: var(--primary-background-color);
    padding: 7rem;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.register-header {
    font-size: 2.2rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

.register-google-btn, .register-facebook-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    background-color: #EBF4FF;
    color: #2D3748;
    border: none;
    cursor: pointer;
    padding: 1.2rem;
    font-size: 1.4rem;
    font-weight: 700;
    min-width: 30rem;
    border-radius: 10px;
    transition: 0.5s;
}

.register-google-btn:hover, .register-facebook-btn:hover {
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
}

.google-logo, .facebook-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 100%;
    width: 2rem;
    height: 2rem;
    padding: 0.5rem;
}

.border {
    margin: 3rem 0 2rem 0;
    width: 100%;
    text-align: center;
    border-bottom: 1px solid var(--ternary-text-color);
}

.email-register-header {
    font-size: 1.3rem;
    color: var(--ternary-text-color);
    border-bottom: 2px solid white;
}

.register-form {
    display: flex;
    flex-direction: column;
}

.register-input {
    padding: 2rem;
    margin-bottom: 2rem;
    border: none;
    outline: none;
    background-color: var(--input-background-color);
    color: var(--input-text-color);
    border-radius: 10px;
}

.register-input:focus {
    border: 1px solid var(--input-text-color);
    background-color: white;
    color: black;
}

.register-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.8rem;
    font-size: 1.5rem;
    font-weight: 600;
    background-color: var(--register-color);
    color: white;
    border: none;
    padding: 2rem;
    border-radius: 10px;
    cursor: pointer;
}

.register-btn:hover {
    background-color: var(--button-background-color);
    transition: 0.2s;
}

.user-logo {
    font-size: 2rem;
}

.register-footer a {
    color: var(--register-color);
}

.register-illustration {
    padding: 10rem;
    background-color: #EBF4FF;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.register-illustration img {
    width: 100%;
    height: 100%;
}

/* ! Browse Candidates */
.browse-candidates-container {
    max-width: 120rem;
    padding: 2rem;
    margin: auto;
}

.cd_cp-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 4rem;
    background-color: var(--secondary-background-color);
    border-radius: 10px;
}

.cd_cp-header h2 {
    color: var(--primary-text-color);
    font-size: 3rem;
}

.cd_cp-text {
    font-size: 1.3rem;
    text-align: center;
    margin-bottom: 2rem;
    color: var(--ternary-text-color);
}

.box-character {
    background-color: var(--primary-background-color);
    padding: 1rem;
    outline: 1px solid lightgray;
    border-radius: 10px;
    margin-bottom: 1rem;
}

.box-character-list {
    display: flex;
    list-style-type: none;
    font-size: 1.5rem;
    gap: 1.5rem;
}

.box-character-list li {
    width: 2.5rem;
    height: 2.5rem;
    cursor: pointer;
    text-align: center;
}

.box-character-list li:hover {
    background-color: var(--secondary-background-color);
    color: var(--register-color);
    border-radius: 100%;
    transition: 0.2s;
}

.candidates-shown {
    font-size: 1.4rem;
    color: var(--ternary-text-color);
    text-align: left;
    border-bottom: 1px solid var(--ternary-text-color);
    padding: 2rem 0 2rem 0;
}

.candidates-shown>span {
    font-weight: 600;
    color: var(--primary-text-color);
}

.browse-candidates-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding-top: 2rem;
    gap: 3rem;
}

.candidate-card {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    background-color: var(--secondary-background-color);
    padding: 2rem;
    border-radius: 10px;
}

.candidate-card-header {
    display: flex;
    /* align-items: center; */
    gap: 1rem;
}

.candidate-card-img {
    border-radius: 100%;
    width: 10rem;
    height: 10rem;
}

.candidate-card-details {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.candidate-card-name {
    color: var(--primary-text-color);
    font-size: 1.8rem;
    margin-top: 1rem;
}

.candidate-card-position {
    color: var(--ternary-text-color);
    font-size: 1.1rem;
}

.candidate-card-summary {
    color: var(--ternary-text-color);
    font-size: 1.1rem;
}

.candidate-card-skills {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}

.skill-tag {
    background-color: #D1DAEC;
    padding: 1rem;
    font-size: 1.2rem;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 600;
    color: #FBF9F5;
}

.skill-tag:hover {
    color: var(--ternary-text-color);
}

.candidate-card-footer {
    border-top: 1px solid var(--ternary-text-color);
    padding: 1rem 0 1rem 0;
    font-size: 1.4rem;
    display: flex;
    justify-content: space-between;
}

.candidate-location, .candidate-pay {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.pagination {
    padding: 4rem 0 1rem 0;
    display: flex;
    align-items: center;
    gap: 1.5rem;
    margin-bottom: 4rem;
}

.pg-icon {
    cursor: pointer;
    font-size: 1.6rem;
    background-color: #EAF2FF;
    padding: 1rem;
    border-radius: 100%;
    fill: #abaaad;
}

.pg-icon:hover {
    background-color: var(--register-color);
    fill: white;
    transition: 0.2s;
}

.pagination-list {
    display: flex;
    gap: 1.2rem;
    list-style-type: none;
    font-size: 1.6rem;
    font-weight: 600;
}

.pagination-list li {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 100%;
    color: var(--ternary-text-color);
    cursor: pointer;
}

.pagination-list li:hover {
    background-color: var(--ternary-text-color);
    color: var(--primary-text-color);
    transform: 0.2s;
}

/* ! Browse Companies */
.browse-companies-container {
    max-width: 120rem;
    padding: 2rem;
    margin: auto;
}

.filter-cards-grid {
    display: grid;
    grid-template-columns: 20% 77.3%;
    padding: 3rem 0 2rem 0;
    gap: 3rem;
}

.filter {
    display: flex;
    flex-direction: column;
}

.filter-header {
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--ternary-text-color);
    padding-bottom: 1rem;
    margin-bottom: 3rem;
    justify-content: space-between;
}

.filter-header h3 {
    color: var(--primary-text-color);
    font-size: 2rem;
}

.filter-header span {
    font-size: 1.4rem;
    color: var(--ternary-text-color);
}

.filter-location {
    display: flex;
    align-items: center;
    border: 0.5px solid var(--ternary-text-color);
    padding: 1rem;
    font-size: 1.6rem;
    gap: 1rem;
    border-radius: 5px;
    margin-bottom: 3rem;
}

.filter-location:focus {
    border: 0.5px solid black;
}

.location {
    width: 20rem;
    background-color: transparent;
    font-size: 1.6rem;
    border: none;
    color: var(--ternary-text-color);
}

.filter-industry, .filter-allowance, .filter-job_type {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.filter-industry h3, .filter-allowance h3, .filter-job_type h3 {
    font-size: 2rem;
    font-weight: 600;
}

.hr {
    color: var(--ternary-text-color);
    margin: 1rem 0 1rem 0;
}

.filter-list {
    list-style-type: none;
}

.filter-list li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

.cb-container {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.cb {
    width: 1.8rem;
    height: 1.8rem;
}

.cb:checked {
    accent-color: var(--register-color);
}

.cb-container label {
    font-size: 1.5rem;
}

.cb-item-number {
    background-color: var(--secondary-background-color);
    color: var(--secondary-text-color);
    font-size: 1.3rem;
    padding: 0.5rem;
    border-radius: 5px;
}

.location:focus {
    color: black;
}

.re-cards {
    display: flex;
    flex-direction: column;
}

.re-header {
    border-bottom: 1px solid var(--ternary-text-color);
    padding-bottom: 1.95rem;
    font-weight: 600;
    margin-bottom: 3rem;
}

.re-shown {
    font-size: 1.4rem;
    color: var(--ternary-text-color);
}

.re-cards-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
}

.cp-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    background-color: var(--secondary-background-color);
    border-radius: 10px;
    padding: 3rem;
}

.cp-logo {
    width: 6rem;
    height: 6rem;
    border-radius: 10px;
}

.cp-name {
    font-size: 2.2rem;
    font-weight: 600;
    color: var(--primary-text-color);
}

.cp-location {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 1.2rem;
    margin-bottom: 4rem;
}

.cp-location span {
    color: var(--ternary-text-color);
}

.cp-jobs {
    background-color: white;
    padding: 1.5rem;
    font-size: 1.3rem;
    font-weight: 600;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.2);
}

.cp-jobs:hover {
    color: var(--secondary-text-color);
    transform: 0.2s;
}

/* ! Find Job */
.find-job-container {
    max-width: 120rem;
    padding: 2rem;
    margin: auto;
}

.find-job-grid {
    display: grid;
    grid-template-columns: 20% 77.3%;
    padding: 3rem 0 2rem 0;
    gap: 3rem;
}

/* ! Find Job Card */
.find-job-card {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    background-color: var(--secondary-background-color);
    border-radius: 10px;
    padding: 3rem;
}

.fj-header {
    display: flex;
    gap: 1rem;
}

.fj-header img {
    width: 6rem;
    height: 6rem;
    border-radius: 10px;
}

.fj-name-loc {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.fj-name {
    font-size: 1.8rem;
    font-weight: 700;
}

.fj-loc {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: var(--ternary-text-color);
}

.fj-body {
    display: flex;
    flex-direction: column;
}

.fj-title {
    font-size: 1.5rem;
    font-weight: 600;
}

.fj-details {
    display: flex;
    gap: 2rem;
}

.fj-allowance, .fj-time {
    display: flex;
    align-items: center;
    color: var(--ternary-text-color);
    gap: 0.5rem;
    font-size: 1.1rem;
}

.fj-summary {
    color: var(--input-text-color);
    font-size: 1.2rem;
}

.fj-footer {
    display: flex;
    justify-content: space-between;
}

.fj-pay {
    font-size: 2rem;
    font-weight: 600;
    color: var(--secondary-text-color);
}

.fj-pay sub {
    font-size: 1.4rem;
    color: var(--ternary-text-color);
    font-weight: lighter;
}

.fj-apply {
    background-color: #E0E6F7;
    color: var(--register-color);
    padding: 1rem;
    border-radius: 5px;
    font-size: 1.2rem;
    font-weight: 500;
    cursor: pointer;
}

.fj-apply:hover{
    background-color: var(--secondary-text-color);
    color: white;
    transition: 0.2s;
}

.grid {
    grid-template-columns: repeat(3, 1fr);
}

/* ! Candidate Profile */
.candidate-profile-container {
    max-width: 120rem;
    padding: 2rem;
    margin: auto;
}

.cp-cover-img {
    width: 100%;
    height: 20rem;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 2rem;
    background-position: center;
}

.profile-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--ternary-text-color);
    padding-bottom: 4rem;
}

.profile-header-left {
    display: flex;
    /* align-items: center; */
    gap: 1rem;
}

.profile-pic {
    width: 8rem;
    height: 8rem;
    border-radius: 100%;
}

.profile-name-pos {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.profile-name {
    font-size: 2rem;
    font-weight: 600;
}

.profile-pos, .profile-loc {
    font-size: 1.1rem;
    color: var(--ternary-text-color);
}

.profile-tagline {
    font-size: 1.3rem;
    font-style: italic;
    color: var(--ternary-text-color);
}

.profile-loc {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.download-cv, .contact-us {
    padding: 1.5rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 1.5rem;
    background-color: var(--secondary-text-color);
    color: white;
    border: none;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
}

.download, .send-message svg, .phone {
    filter: invert(1) brightness(100);
    font-weight: 600;
    font-size: 2.2rem;
}

.download-cv:hover, .send-message:hover, .contact-us:hover {
    background-color: var(--button-background-color);
    transition: 0.2s;
}

.profile-body-grid {
    display: grid;
    grid-template-columns: 73% 25%;
    grid-template-rows: auto 1fr;
    padding: 4rem 0 4rem 0;
    gap: 2rem;
}

.profile-details {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.about-me, .professional-skills, .work-experience, .education, .company-profile-skills {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.about-me p {
    font-size: 1.4rem;
    color: var(--ternary-text-color);
}

.candidate-profile-skills {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}

.candidate-profile-skills span {
    font-size: 1.2rem;
    color: gray;
    background-color: rgb(249, 248, 248);
    padding: 1rem;
    border-radius: 50px;
}

.about-me h3, .professional-skills h3, .work-experience h3, .education h3, .company-profile-skills h3 {
    font-size: 2.2rem;
    color: #454545;
}

.company-profile-skills ul {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-left: 2rem;
}

.company-profile-skills li {
    font-size: 1.4rem;
    color: var(--ternary-text-color);
}

.we-card-container, .ed-card-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

/* .profile-details {
    padding: 2rem 0 2rem 0;
} */

.profile-overview {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    background-color: var(--secondary-background-color);
    padding: 2rem;
    border-radius: 10px;
    height: fit-content;
}

.overview-header {
    font-size: 2rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid var(--ternary-text-color);
}

.overview-details {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    border-bottom: 1px solid var(--ternary-text-color);
    padding-bottom: 2rem;
}

/* ! Overview Detail Tag */
.od-container {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.od-container svg {
    font-size: 2rem;
}

.od-details {
    display: flex;
    flex-direction: column;
}

.od-details span {
    font-size: 1.2rem;
}

.od-title {
    color: var(--ternary-text-color);
}

.od-value {
    font-weight: 600;
}

/* ! Overview Detail End */

.profile-footer {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.profile-footer ul {
    list-style-type: none;
}

.profile-footer ul li {
    font-size: 1.2rem;
}

.profile-footer ul li span {
    font-weight: 600;
}

.send-message {
    padding: 1.5rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 1.5rem;
    background-color: var(--secondary-text-color);
    color: white;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
    width: 15rem;
}

/* ! Profile Card */
.pf-card {
    display: flex;
    gap: 1rem;
    background-color: var(--secondary-background-color);
    max-width: 50rem;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 0 2px 4px 0 rgba(154, 154, 154, 0.2);
}

.pf-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 6rem;
    height: 4rem;
    border-radius: 100%;
    background-color: white;
    border: 1px solid #d8d6d6;
}

.pf-logo svg {
    width: 2.1rem;
    height: 2.1rem;
}

.pf-logo img {
    width: 2.1rem;
    height: 2.1rem;
}

.pf-details {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.pf-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pf-title-loc-company {
    display: flex;
    flex-direction: column;
}

.pf-title-loc-company h4 {
    font-size: 1.2rem;
}

.pf-work-time {
    font-weight: 600;
}

.pf-bottom {
    font-size: 1.05rem;
    color: var(--ternary-text-color);
}

/* ! Company Profile */
.company-profile-container {
    max-width: 120rem;
    padding: 2rem;
    margin: auto;
}